
/* header css*/
#mainlogo a {
  border-bottom: ridge;
  border-right: ridge;
  color: #c694ee;
  justify-content: center;
  display: flex;
  border-radius: 30px;
}
header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  z-index: 9999;
}

nav li {
  color: white;
}

/* ABOUT SECTIONS CSS */
#about, 
#intro {
  text-align: right;
}

#nameimg, 
#intro {
  display: inline-block;
  justify-content:space-evenly;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 0;
}

#nameimg {
  padding-top: -50px;
  margin-top: -50px;
}
#intro {
  margin-top: 15px;
}

.selfie {
  border-radius: 25px;
  margin-top: -150px;
}

#mainbody {
  background-image: linear-gradient(to bottom right, #FFFFFF ,#FC9EFF, #6A0DAD);
}

html {
  background-image: linear-gradient(to bottom right, #FFFFFF ,#DE82FF, #6A0DAD);
}


/* footer styling */
footer h1 {
  background: black;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer h1 svg {
  color: #DE82FF;
}

#flex-a,
#flex-b,
#flex-c {
  display: flex;
  flex-flow: column;
}

.restitle {
  font-size: 50px;
  font-weight: bolder;
  color: #6A0DAD;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.restext {
  font-size: 35px;
  font-weight: 750;
  /* text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
}

.restext a {
  text-decoration: none;
  color:#FFE697;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.fe-experience h3,
.be-experience h3 {
  font-size: 30px;
  font-weight:700;
  /* text-shadow: 10px 0 10px rgba(0, 0, 0, 0.5); */

}

.fe-experience li,
.be-experience li {
  font-size: 20px;
}

.restitle,
.restext,
.fe-experience h3,
.be-experience h3,
.fe-experience li,
.be-experience li {
  text-align: center;
}

/* mobile responsiveness */

@media screen and (max-width: 1400px) {
  .selfie {
    margin-top: 0;
  }

  #nameimg {
    margin-left: 50px;
  }
  #intro {
    justify-content: center;
    text-align: center;
  }

  #nameimg,
  #intro {
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 1300px) {
  #nameimg {
    justify-content: center;
    padding-left: 100px;
    margin-left: 250px;

  }

  #intro {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

}

@media screen and (max-width: 1200px) {
   #nameimg {
     margin-left: 150px;
   }
}

@media screen and (max-width: 975px) {
  #nameimg {
    margin-left: 50px;
  }
}

@media screen and (max-width: 775px) {
  #nameimg {
    margin-left: 15px;
  }
}