/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* header css*/
#mainlogo a {
  border-bottom: ridge;
  border-right: ridge;
  color: #c694ee;
  justify-content: center;
  display: flex;
  border-radius: 30px;
}
header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  z-index: 9999;
}

nav li {
  color: white;
}

/* ABOUT SECTIONS CSS */
#about, 
#intro {
  text-align: right;
}

#nameimg, 
#intro {
  display: inline-block;
  justify-content:space-evenly;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 0;
}

#nameimg {
  padding-top: -50px;
  margin-top: -50px;
}
#intro {
  margin-top: 15px;
}

.selfie {
  border-radius: 25px;
  margin-top: -150px;
}

#mainbody {
  background-image: linear-gradient(to bottom right, #FFFFFF ,#FC9EFF, #6A0DAD);
}

html {
  background-image: linear-gradient(to bottom right, #FFFFFF ,#DE82FF, #6A0DAD);
}


/* mobile responsiveness for ABOUT SECTION */

@media screen and (max-width: 1385px) {
  .selfie {
    margin-top: 0;
  }

  #about,
  #intro {
    text-align: center;
  }


}
  
